/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env
/bower_components
npm-debug.log
.idea/
public/views
public/js
public/css
Apache-2.4+Nginx-1.9_vhosta.conf
Apache-2.4+Nginx-1.9_vhostn.conf
_ide_helper.php
 storage/debugbar/
